USE [master]
GO
/****** Object:  Database [automated_test]    Script Date: 09/07/2025 09:20:40 ******/
CREATE DATABASE [automated_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'automated_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\automated_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_HRIS_AiGenerated_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\automated_test.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [automated_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [automated_test]
GO
/****** Object:  Table [dbo].[ACCESSCATALYST]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESSCATALYST](
	[ACCESSCATALYST] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE] [int] NOT NULL,
	[USERNAME] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[LASTLOGON] [datetime] NULL,
	[DISABLED] [bit] NOT NULL,
	[MODIFIED] [datetime2](7) NOT NULL,
	[POLICY] [int] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[FAILEDLOGON] [int] NULL,
	[SESSIONID] [nvarchar](50) NULL,
	[ACCESSDISABLED] [int] NULL,
	[USERPROTECT] [int] NULL,
	[LANGUAGE] [int] NULL,
	[DEFAULTDETAILS] [int] NULL,
	[DN] [nvarchar](255) NULL,
	[ORGANIZATION] [nvarchar](255) NULL,
	[EDITOR] [int] NULL,
	[DATEFORMAT] [int] NULL,
	[PWDCHANGE] [datetime] NULL,
	[CREATED] [datetime] NULL,
	[ISFIRSTTIMELOGON] [int] NULL,
	[EMPLOYEE_ID] [nvarchar](255) NULL,
	[KEYBASED_SSO_KEY] [nvarchar](255) NULL,
	[IMPORT_MODIFIED] [nvarchar](max) NULL,
	[LOCKEDTIME] [datetime] NULL,
	[PRIMARY_PROFILE] [int] NULL,
	[PROFILE_ID] [nvarchar](255) NULL,
	[SECRET_KEY] [nvarchar](20) NULL,
	[GUID] [uniqueidentifier] NULL,
	[DEACTIVATED_ON] [datetime] NULL,
	[ACCOUNT_GUID] [uniqueidentifier] NOT NULL,
	[USED_INTEGRATION_IDS] [nvarchar](max) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[IS_ANONYMIZED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCESSCATALYST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE] [int] NOT NULL,
	[ORGANIZATION] [int] NOT NULL,
	[GIVENNAME] [nvarchar](100) NOT NULL,
	[SURNAME] [nvarchar](100) NOT NULL,
	[MAIL] [nvarchar](255) NOT NULL,
	[BIRTHDATE] [date] NOT NULL,
	[EMPLOYMENTDATE] [date] NOT NULL,
	[TITLE] [int] NULL,
	[EMPLOYEENO] [nvarchar](50) NOT NULL,
	[GENDER] [int] NULL,
	[POSITION_LEVEL] [int] NULL,
	[EMPLOYEETYPE] [int] NULL,
	[MIDDLENAME] [nvarchar](max) NULL,
	[COMMONNAME] [nvarchar](max) NULL,
	[PRIVATEMAIL] [nvarchar](255) NULL,
	[EMPLOYMENTEND] [date] NULL,
	[ADDRESS1] [nvarchar](50) NULL,
	[ADDRESS2] [nvarchar](50) NULL,
	[ADDRESS3] [nvarchar](50) NULL,
	[ADDRESS4] [nvarchar](50) NULL,
	[ZIPCODE] [nvarchar](20) NULL,
	[NICKNAME] [nvarchar](max) NULL,
	[USERID] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[BUILDINGNAME] [nvarchar](20) NULL,
	[PHOTOURL] [nvarchar](255) NULL,
	[PROFILE_TITLE] [nvarchar](max) NULL,
	[MANAGER] [int] NULL,
	[TEMPMANAGER] [int] NULL,
	[ONVACATION] [int] NULL,
	[LASTLOGON] [datetime] NULL,
	[LASTUSEDOBJECT] [datetime] NULL,
	[LASTUSEDACTIVITY] [datetime] NULL,
	[MODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](20) NULL,
	[MODIFICATIONNO] [int] NULL,
	[SECRETARY] [int] NULL,
	[SUPERVISOR] [int] NULL,
	[SECONDARYORG] [nvarchar](255) NULL,
	[PRIMARYMANAGER] [nvarchar](255) NULL,
	[SECONDARYMANAGER] [nvarchar](255) NULL,
	[HRMANAGER] [int] NULL,
	[DIRECTORYDN] [nvarchar](2000) NULL,
	[DIRECTORYMODIFIED] [datetime] NULL,
	[PHOTO_ID] [int] NULL,
	[JOB_DESCRIPTION] [nvarchar](max) NULL,
	[HOMEADDRESS] [nvarchar](max) NULL,
	[DATEOFBIRTH] [date] NULL,
	[SOCIALSECURITYNUMBER] [varchar](255) NULL,
	[NATIONALITY] [int] NULL,
	[COUNTRY] [int] NULL,
	[MARITALSTATUS] [int] NULL,
	[POSITION] [int] NULL,
	[MOBILITY] [int] NULL,
	[FLIGHT_RISK] [int] NULL,
	[CAREER_AMBITIONS] [int] NULL,
	[CAREER_PLANNING_TOPICS] [nvarchar](max) NULL,
	[DEPARTMENTMANAGER] [int] NULL,
	[BASIC_SALARY] [nvarchar](255) NULL,
	[POSITION_CODE] [nvarchar](255) NULL,
	[MARKET_VALUE] [nvarchar](255) NULL,
	[HIRING_DATE] [date] NULL,
	[TERMINATION_DATE] [date] NULL,
	[WORKING_HOURS] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[TYPE_OF_PAY] [int] NULL,
	[WEEKLY_WORK_HOURS] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
	[LOCATION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMPLOYEENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATION](
	[ORGANIZATION] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[MOTHERORG] [int] NULL,
	[DISABLED] [bit] NULL,
	[CREATED] [datetime] NULL,
	[MODIFIED] [datetime] NULL,
	[DIRECTORYDN] [nvarchar](500) NULL,
	[DIRECTORYMODIFIED] [datetime] NULL,
	[SORTORDER] [int] NULL,
	[UNIQUE_IMPORT_ID] [nvarchar](255) NULL,
	[IMPORT_MODIFIED] [nvarchar](255) NULL,
	[ORGANIZATION_LEVEL] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORGANIZATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCALE]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALE](
	[ID] [int] NOT NULL,
	[SCALETYPE] [int] NOT NULL,
	[NAME0] [nvarchar](255) NULL,
	[NAME1] [nvarchar](255) NULL,
	[NAME2] [nvarchar](255) NULL,
	[DESCRIPTION0] [nvarchar](255) NULL,
	[DESCRIPTION1] [nvarchar](255) NULL,
	[DESCRIPTION2] [nvarchar](255) NULL,
	[SORTORDER] [int] NULL,
	[DELETED] [bit] NULL,
	[CREATED] [datetime2](7) NULL,
	[MODIFIED] [datetime2](7) NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCALETYPE]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALETYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ISACTIVE] [bit] NOT NULL,
	[SHOWFLAGCB] [int] NULL,
	[SHOWDESC] [int] NULL,
	[SHOWNUMVAL] [int] NULL,
	[ISSNAPSHOT] [int] NULL,
	[SHOWSUBCAT] [int] NULL,
	[HIDDEN] [int] NULL,
	[SCALETYPECATEGORY] [int] NULL,
	[DELETED] [int] NULL,
	[SCALEDESCRIPTION] [nvarchar](255) NULL,
	[TYPE] [int] NULL,
	[SORTED] [int] NULL,
	[SHOWSECONDARYCATEGORY] [int] NULL,
	[SHOW_PARTNERS] [int] NULL,
	[SHOW_INVENTORY_SETTINGS] [int] NULL,
	[SHOW_ALTERNATIVE_EXPORT_VAL] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPROFILE]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE](
	[USERFIELD] [int] NOT NULL,
	[ACCESSCATALYST] [int] NOT NULL,
	[FIELD_VALUE] [nvarchar](840) NULL,
 CONSTRAINT [PK_USERPROFILE] PRIMARY KEY CLUSTERED 
(
	[USERFIELD] ASC,
	[ACCESSCATALYST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPROFILE_FIELD]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE_FIELD](
	[USERPROFILE_FIELD] [int] NOT NULL,
	[FIELD_NAME] [nvarchar](max) NOT NULL,
	[SETTINGS] [xml] NULL,
	[RESTRICTIONS] [xml] NULL,
	[DELETED] [int] NULL,
	[TAB] [int] NOT NULL,
	[PURPOSE] [nvarchar](max) NULL,
	[GUIDELINES] [nvarchar](max) NULL,
	[IGNORE_FROM_AUDIT] [bit] NOT NULL,
	[REFERENCE_UUID] [uniqueidentifier] NULL,
	[STANDARD_REFERENCE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERPROFILE_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPROFILE_HISTORY]    Script Date: 09/07/2025 09:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE_HISTORY](
	[USERPROFILE_FIELD] [int] NOT NULL,
	[ACCESSCATALYST] [int] NOT NULL,
	[FIELD_VALUE] [nvarchar](max) NULL,
	[CHANGED_BY] [int] NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[CHANGED_BY_DEPUTY] [int] NULL,
	[CHANGE_TYPE] [int] NULL,
	[VALID_FROM] [date] NULL,
	[APPROVED_BY] [int] NULL,
	[RECORD_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[VALID_TO] [date] NULL,
	[IS_TIMELINE] [int] NOT NULL,
	[APPROVED_ON] [datetime] NULL,
	[REASON_FOR_CHANGE_IN_VALUE] [nvarchar](max) NULL,
	[CHANGED_BY_ROLE] [int] NULL,
	[PRIMARY_RECORD] [int] NULL,
	[APPROVED_BY_DEPUTY] [int] NULL,
	[CHANGE_FROM_COMMON_TYPE] [int] NOT NULL,
	[CHANGE_FROM_PROCESS_ID] [int] NOT NULL,
	[INTEGRATION_ID] [int] NOT NULL,
	[INTEGRATION_VERSION] [int] NOT NULL,
	[INTEGRATION_TYPE] [int] NOT NULL,
	[INTEGRATION_MODE] [int] NOT NULL
PRIMARY KEY CLUSTERED 
(
	[USERPROFILE_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCESSCATALYST] ADD  DEFAULT ((0)) FOR [DISABLED]
GO
ALTER TABLE [dbo].[ACCESSCATALYST] ADD  DEFAULT (getdate()) FOR [MODIFIED]
GO
ALTER TABLE [dbo].[SCALETYPE] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[USERPROFILE_FIELD] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT (getdate()) FOR [MODIFIED]
GO
ALTER TABLE [dbo].[ACCESSCATALYST]  WITH CHECK ADD  CONSTRAINT [FK_ACCESSCATALYST_EMPLOYEE] FOREIGN KEY([EMPLOYEE])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE])
GO
ALTER TABLE [dbo].[ACCESSCATALYST] CHECK CONSTRAINT [FK_ACCESSCATALYST_EMPLOYEE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_ORG] FOREIGN KEY([ORGANIZATION])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMP_ORG]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_EMPLOYEETYPE_SCALE] FOREIGN KEY([EMPLOYEETYPE])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_EMPLOYEETYPE_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_GENDER_SCALE] FOREIGN KEY([GENDER])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_GENDER_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_POSITIONLEVEL_SCALE] FOREIGN KEY([POSITION_LEVEL])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_POSITIONLEVEL_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_TITLE_SCALE] FOREIGN KEY([TITLE])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_TITLE_SCALE]
GO
ALTER TABLE [dbo].[ORGANIZATION]  WITH CHECK ADD  CONSTRAINT [FK_ORG_PARENT] FOREIGN KEY([MOTHERORG])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION])
GO
ALTER TABLE [dbo].[ORGANIZATION] CHECK CONSTRAINT [FK_ORG_PARENT]
GO
ALTER TABLE [dbo].[ORGANIZATION]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATION_MOTHERORG] FOREIGN KEY([MOTHERORG])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION])
GO
ALTER TABLE [dbo].[ORGANIZATION] CHECK CONSTRAINT [FK_ORGANIZATION_MOTHERORG]
GO
ALTER TABLE [dbo].[SCALE]  WITH CHECK ADD  CONSTRAINT [FK_SCALE_SCALETYPE] FOREIGN KEY([SCALETYPE])
REFERENCES [dbo].[SCALETYPE] ([ID])
GO
ALTER TABLE [dbo].[SCALE] CHECK CONSTRAINT [FK_SCALE_SCALETYPE]
GO
ALTER TABLE [dbo].[USERPROFILE]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFILE_ACCESSCAT] FOREIGN KEY([ACCESSCATALYST])
REFERENCES [dbo].[ACCESSCATALYST] ([ACCESSCATALYST])
GO
ALTER TABLE [dbo].[USERPROFILE] CHECK CONSTRAINT [FK_USERPROFILE_ACCESSCAT]
GO
USE [master]
GO
