USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 08/07/2025 10:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE] [int] NOT NULL,
	[ORGANIZATION] [int] NOT NULL,
	[GIVENNAME] [nvarchar](100) NOT NULL,
	[SURNAME] [nvarchar](100) NOT NULL,
	[MAIL] [nvarchar](255) NOT NULL,
	[BIRTHDATE] [date] NOT NULL,
	[EMPLOYMENTDATE] [date] NOT NULL,
	[TITLE] [int] NULL,
	[EMPLOYEENO] [nvarchar](50) NOT NULL,
	[GENDER] [int] NULL,
	[POSITION_LEVEL] [int] NULL,
	[EMPLOYEETYPE] [int] NULL,
	[MIDDLENAME] [nvarchar](max) NULL,
	[COMMONNAME] [nvarchar](max) NULL,
	[PRIVATEMAIL] [nvarchar](255) NULL,
	[EMPLOYMENTEND] [date] NULL,
	[ADDRESS1] [nvarchar](50) NULL,
	[ADDRESS2] [nvarchar](50) NULL,
	[ADDRESS3] [nvarchar](50) NULL,
	[ADDRESS4] [nvarchar](50) NULL,
	[ZIPCODE] [nvarchar](20) NULL,
	[NICKNAME] [nvarchar](max) NULL,
	[USERID] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[BUILDINGNAME] [nvarchar](20) NULL,
	[PHOTOURL] [nvarchar](255) NULL,
	[PROFILE_TITLE] [nvarchar](max) NULL,
	[MANAGER] [int] NULL,
	[TEMPMANAGER] [int] NULL,
	[ONVACATION] [int] NULL,
	[LASTLOGON] [datetime] NULL,
	[LASTUSEDOBJECT] [datetime] NULL,
	[LASTUSEDACTIVITY] [datetime] NULL,
	[MODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](20) NULL,
	[MODIFICATIONNO] [int] NULL,
	[SECRETARY] [int] NULL,
	[SUPERVISOR] [int] NULL,
	[SECONDARYORG] [nvarchar](255) NULL,
	[PRIMARYMANAGER] [nvarchar](255) NULL,
	[SECONDARYMANAGER] [nvarchar](255) NULL,
	[HRMANAGER] [int] NULL,
	[DIRECTORYDN] [nvarchar](2000) NULL,
	[DIRECTORYMODIFIED] [datetime] NULL,
	[PHOTO_ID] [int] NULL,
	[JOB_DESCRIPTION] [nvarchar](max) NULL,
	[HOMEADDRESS] [nvarchar](max) NULL,
	[DATEOFBIRTH] [date] NULL,
	[SOCIALSECURITYNUMBER] [varchar](255) NULL,
	[NATIONALITY] [int] NULL,
	[COUNTRY] [int] NULL,
	[MARITALSTATUS] [int] NULL,
	[POSITION] [int] NULL,
	[MOBILITY] [int] NULL,
	[FLIGHT_RISK] [int] NULL,
	[CAREER_AMBITIONS] [int] NULL,
	[CAREER_PLANNING_TOPICS] [nvarchar](max) NULL,
	[DEPARTMENTMANAGER] [int] NULL,
	[BASIC_SALARY] [nvarchar](255) NULL,
	[POSITION_CODE] [nvarchar](255) NULL,
	[MARKET_VALUE] [nvarchar](255) NULL,
	[HIRING_DATE] [date] NULL,
	[TERMINATION_DATE] [date] NULL,
	[WORKING_HOURS] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[TYPE_OF_PAY] [int] NULL,
	[WEEKLY_WORK_HOURS] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
	[LOCATION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMPLOYEENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_ORG] FOREIGN KEY([ORGANIZATION])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMP_ORG]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_EMPLOYEETYPE_SCALE] FOREIGN KEY([EMPLOYEETYPE])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_EMPLOYEETYPE_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_GENDER_SCALE] FOREIGN KEY([GENDER])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_GENDER_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_POSITIONLEVEL_SCALE] FOREIGN KEY([POSITION_LEVEL])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_POSITIONLEVEL_SCALE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_TITLE_SCALE] FOREIGN KEY([TITLE])
REFERENCES [dbo].[SCALE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_TITLE_SCALE]
GO
