USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[SCALE]    Script Date: 08/07/2025 09:35:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALE](
	[ID] [int] NOT NULL,
	[SCALETYPE] [int] NOT NULL,
	[NAME0] [nvarchar](255) NULL,
	[NAME1] [nvarchar](255) NULL,
	[NAME2] [nvarchar](255) NULL,
	[DESCRIPTION0] [nvarchar](255) NULL,
	[DESCRIPTION1] [nvarchar](255) NULL,
	[DESCRIPTION2] [nvarchar](255) NULL,
	[SORTORDER] [int] NULL,
	[DELETED] [bit] NULL,
	[CREATED] [datetime2](7) NULL,
	[MODIFIED] [datetime2](7) NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCALE]  WITH CHECK ADD  CONSTRAINT [FK_SCALE_SCALETYPE] FOREIGN KEY([SCALETYPE])
REFERENCES [dbo].[SCALETYPE] ([ID])
GO
ALTER TABLE [dbo].[SCALE] CHECK CONSTRAINT [FK_SCALE_SCALETYPE]
GO
