USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[SCALETYPE]    Script Date: 08/07/2025 09:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALETYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ISACTIVE] [bit] NOT NULL,
	[SHOWFLAGCB] [int] NULL,
	[SHOWDESC] [int] NULL,
	[SHOWNUMVAL] [int] NULL,
	[ISSNAPSHOT] [int] NULL,
	[SHOWSUBCAT] [int] NULL,
	[HIDDEN] [int] NULL,
	[SCALETYPECATEGORY] [int] NULL,
	[DELETED] [int] NULL,
	[SCALEDESCRIPTION] [nvarchar](255) NULL,
	[TYPE] [int] NULL,
	[SORTED] [int] NULL,
	[SHOWSECONDARYCATEGORY] [int] NULL,
	[SHOW_PARTNERS] [int] NULL,
	[SHOW_INVENTORY_SETTINGS] [int] NULL,
	[SHOW_ALTERNATIVE_EXPORT_VAL] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCALETYPE] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
