USE [analyticsroutinedev]
GO
/****** Object:  Table [dbo].[USERPROFILE_HISTORY]    Script Date: 10/07/2025 09:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE_HISTORY](																
	[USERPROFILE_FIELD] [int] NOT NULL,
	[ACCESSCATALYST] [int] NOT NULL,
	[FIELD_VALUE] [nvarchar](max) NULL,
	[CHANGED_BY] [int] NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[CHANGED_BY_DEPUTY] [int] NULL,
	[CHANGE_TYPE] [int] NULL,
	[VALID_FROM] [date] NULL,
	[APPROVED_BY] [int] NULL,
	[RECORD_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[VALID_TO] [date] NULL,
	[IS_TIMELINE] [int] NOT NULL,
	[APPROVED_ON] [datetime] NULL,
	[REASON_FOR_CHANGE_IN_VALUE] [nvarchar](max) NULL,
	[CHANGED_BY_ROLE] [int] NULL,
	[PRIMARY_RECORD] [int] NULL,
	[APPROVED_BY_DEPUTY] [int] NULL,
	[CHANGE_FROM_COMMON_TYPE] [int] NOT NULL,
	[CHANGE_FROM_PROCESS_ID] [int] NOT NULL,
	[INTEGRATION_ID] [int] NOT NULL,
	[INTEGRATION_VERSION] [int] NOT NULL,
	[INTEGRATION_TYPE] [int] NOT NULL,
	[INTEGRATION_MODE] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [IS_TIMELINE]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [CHANGE_FROM_COMMON_TYPE]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [CHANGE_FROM_PROCESS_ID]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [INTEGRATION_ID]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [INTEGRATION_VERSION]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [INTEGRATION_TYPE]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT ((0)) FOR [INTEGRATION_MODE]
GO
