USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[USERPROFILE]    Script Date: 08/07/2025 10:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE](
	[USERFIELD] [int] NOT NULL,
	[ACCESSCATALYST] [int] NOT NULL,
	[FIELD_VALUE] [nvarchar](840) NULL,
 CONSTRAINT [PK_USERPROFILE] PRIMARY KEY CLUSTERED 
(
	[USERFIELD] ASC,
	[ACCESSCATALYST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERPROFILE]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFILE_ACCESSCAT] FOREIGN KEY([ACCESSCATALYST])
REFERENCES [dbo].[ACCESSCATALYST] ([ACCESSCATALYST])
GO
ALTER TABLE [dbo].[USERPROFILE] CHECK CONSTRAINT [FK_USERPROFILE_ACCESSCAT]
GO
ALTER TABLE [dbo].[USERPROFILE]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFILE_USERFIELD] FOREIGN KEY([USERFIELD])
REFERENCES [dbo].[USERPROFILE_FIELD] ([USERPROFILE_FIELD_ID])
GO
ALTER TABLE [dbo].[USERPROFILE] CHECK CONSTRAINT [FK_USERPROFILE_USERFIELD]
GO
