
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 08/07/2025 09:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATION](
	[ORGANIZATION] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[MOTHERORG] [int] NULL,
	[DISABLED] [bit] NULL,
	[CREATED] [datetime] NULL,
	[MODIFIED] [datetime] NULL,
	[DIRECTORYDN] [nvarchar](500) NULL,
	[DIRECTORYMODIFIED] [datetime] NULL,
	[SORTORDER] [int] NULL,
	[UNIQUE_IMPORT_ID] [nvarchar](255) NULL,
	[IMPORT_MODIFIED] [nvarchar](255) NULL,
	[ORGANIZATION_LEVEL] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORGANIZATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORGANIZATION]  WITH CHECK ADD  CONSTRAINT [FK_ORG_PARENT] FOREIGN KEY([MOTHERORG])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION])
GO
ALTER TABLE [dbo].[ORGANIZATION] CHECK CONSTRAINT [FK_ORG_PARENT]
GO
