USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[USERPROFILE_HISTORY]    Script Date: 08/07/2025 12:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE_HISTORY](
	[USERPROFILE_HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERPROFILE_ID] [int] NOT NULL,
	[OLD_VALUE] [nvarchar](255) NULL,
	[NEW_VALUE] [nvarchar](255) NULL,
	[MODIFIED] [datetime2](7) NOT NULL,
	[REASON] [nvarchar](255) NULL,
	[MODIFIEDBY] [nvarchar](100) NULL,
	[CHANGED_BY] [int] NULL,
	[CHANGED_DATE] [datetime] NULL,
	[CHANGED_BY_DEPUTY] [int] NULL,
	[CHANGE_TYPE] [int] NULL,
	[VALID_FROM] [date] NULL,
	[APPROVED_BY] [int] NULL,
	[RECORD_NUMBER] [int] NULL,
	[VALID_TO] [date] NULL,
	[IS_TIMELINE] [int] NULL,
	[APPROVED_ON] [datetime] NULL,
	[REASON_FOR_CHANGE_IN_VALUE] [nvarchar](max) NULL,
	[CHANGED_BY_ROLE] [int] NULL,
	[PRIMARY_RECORD] [int] NULL,
	[APPROVED_BY_DEPUTY] [int] NULL,
	[CHANGE_FROM_COMMON_TYPE] [int] NULL,
	[CHANGE_FROM_PROCESS_ID] [int] NULL,
	[INTEGRATION_ID] [int] NULL,
	[INTEGRATION_VERSION] [int] NULL,
	[INTEGRATION_TYPE] [int] NULL,
	[INTEGRATION_MODE] [int] NULL,
	[ACCESSCATALYST] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERPROFILE_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERPROFILE_HISTORY] ADD  DEFAULT (getdate()) FOR [MODIFIED]
GO
