USE [Test_HRIS_Synthetic]
GO
/****** Object:  Table [dbo].[USERPROFILE_FIELD]    Script Date: 08/07/2025 12:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE_FIELD](
	[USERPROFILE_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIELDNAME] [nvarchar](100) NOT NULL,
	[FIELDTYPE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERPROFILE_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERPROFILE_FIELD] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
